
<link href="css/style_v2.css" rel="stylesheet" type="text/css">
<link href="css/store.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/jquery.fullPage.css">
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easie.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/jquery.fullPage.min.js"></script>
<script>
$(document).ready(function() {
	$.fn.fullpage({
		slidesColor: ['#fff', '#fff', '#fff', '#fff', '#fff'],
		anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
		navigation: true
	});
});
</script>


 	
    
   
    
    <!--单品内容 开始-->
<div class="">
    <div class="sectionPic02 hover_it" style="position:relative;">
    	<a href=""><img src="images/store_banner.png" alt=""/></a> 
    </div>
	<!--头部导航条 结束-->
  
</div>


<div class="section">
	<div class="sectionPic01 hover_it" style="position:relative;">
    	<a href=""><img src="images/storeSingle_pic01.png" alt=""/></a>   
    </div>
</div>
<div class="section">
	<div class="sectionPic01 hover_it" style="position:relative;">
    	<a href=""><img src="images/storeSingle_pic01.png" alt=""/></a>
    </div>
</div>
<div class="section">
	<div class="sectionPic01 hover_it" style="position:relative;">
    	<a href=""><img src="images/storeSingle_pic01.png" alt=""/></a>
    </div>
</div>
<div class="section">
	<div class="sectionPic01 hover_it" style="position:relative;">
    	<a href=""><img src="images/storeSingle_pic01.png" alt=""/></a>   
    </div>
</div>
<div class="section">
	<div class="sectionPic01 hover_it" style="position:relative;">
    	<a href=""><img src="images/storeSingle_pic01.png" alt=""/></a>
    </div>
</div>
    <!--单品内容 结束-->
    
    <!--页尾banner 开始-->
    <div class="store_endBanner storeLess_endBanner">
    	<div class="store_endBanner_con"><a href=""><img src="images/storeSingle_endBanner.png" width="1200" height="250" alt=""/></a></div>
    </div>
    <!--页尾banner 结束-->
    
   


