<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/theme/style.css">
<link rel="stylesheet" type="text/css" href="../../../css/theme/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../../css/theme/style_v2.css">
</head>
<body>
<div class="Box member_Box clearfix">
	<div class="kehu_Left">
		<ul class="kehu_Left_ul">
			<li class="kehu_title"><a>个人中心</a></li>
			<li><a
				href="">个人信息</a></li>
			<li><a href="">我的资产</a></li>
			<li><a href="">我的优惠劵</a></li>
			<li><a href="">收货地址</a></li>
            <li class="kehu_current"><a href="">安全设置</a></li>
		</ul>
		<ul>
			<li class="kehu_title"><a>订单中心 </a></li>
			<li><a href="">我的订单</a></li>
			<li><a href="">我的收藏</a></li>
			<li><a href="">我的评价</a></li>
		</ul>
		<ul>
			<li class="kehu_title"><a>客户中心</a></li>
			<li><a href="">邀请客户</a></li>
			<li><a href="">我的客户</a></li>
			<!--<li><a href="javascript:;">分红结算</a></li>-->
		</ul>
		<ul>
			<li class="kehu_title"><a>客户服务</a></li>
			<li><a href="">投诉维权</a></li>
			<li><a href="">常见问题</a></li>
			<!--<li><a href="javascript:;">在线客服</a></li>-->
			<!-- <li><a href="<?php echo site_url('member/return_repair')?>">返修退换货</a></li>-->
		</ul>
	</div>

	<div class="huankuan_cmRight">
		<div class="huankuan_rTop">安全设置</div>
        <!--首次修改支付密码 开始-->
		<div class="saveSet">
        	<p>
            	<span class="saveSet_n">登录密码</span>
                <span class="saveSet_t">＊登录51账号时需要输入的密码</span>
                <a href="#" class="saveSet_m">修改登录密码</a>
            </p>
            <p>
            	<span class="saveSet_n">支付密码</span>
                <span class="saveSet_t">＊在账户资金变动及更改账户信息时需要输入的密码</span>
                <a href="#" class="saveSet_m">立即设置</a>
            </p>
            <p>
            	<span class="saveSet_n">绑定手机号</span>
                <span class="saveSet_t" style="color:#999;">＊您绑定的手机号为138＊＊＊＊3800</span>
                <a href="#" class="saveSet_m">更换手机</a>
            </p>
        </div>
		<!--首次修改支付密码 结束-->
        
        <!--二次修改支付密码 开始-->
		<div class="saveSet" hidden>
        	<p>
            	<span class="saveSet_n">登录密码</span>
                <span class="saveSet_t">＊登录51账号时需要输入的密码</span>
                <a href="#" class="saveSet_m">修改登录密码</a>
            </p>
            <p>
            	<span class="saveSet_n">支付密码</span>
                <span class="saveSet_t">＊在账户资金变动及更改账户信息时需要输入的密码</span>
                <a href="#" class="saveSet_m">修改支付密码</a>
            </p>
            <p>
            	<span class="saveSet_n">绑定手机号</span>
                <span class="saveSet_t" style="color:#999;">＊您绑定的手机号为138＊＊＊＊3800</span>
                <a href="#" class="saveSet_m">更换手机</a>
            </p>
        </div>
		<!--二次修改支付密码 结束-->
	</div>



</div>

</body>
</html>
