<!DOCTYPE html>
<html>
<head>
    <title>出错信息</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <link href="css/public.css" rel="stylesheet" type="text/css"/>
    <link href="css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="css/cart.css" rel="stylesheet" type="text/css"/>
    <link href="css/member.css" rel="stylesheet" type="text/css"/>
    <link href="css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- head-top S -->
<Div class="head-top">
    <div class="site-nav">
        <div class="w980">
            <Div class="ui-quick-menu fn-right">
                <ul>
                    <li>
                        <div class="my-menu">
                            <a href="#" title="我的帐号">我的帐号<b></b></a>
                            <i><em></em><span></span></i>
                        </div>
                        <!--js 我的帐号弹出层 S-->
                        <div class="my-menu-bd my-menu-list">
                            <div class="my-menu-panel">
                                <a href="#">个人中心</a>
                                <a href="#">我的订单</a>
                                <a href="#">我的客户</a>
                                <a href="#">我的优惠券</a>
                            </div>
                        </div>
                        <!--js 我的帐号弹出层 E-->
                    </li>
                    <li>|</li>
                    <li>
                        <div class="ui-menu-cart">
                            <a href="#" title="购物车"><b></b>购物车(0)</a>
                            <i><em></em><span></span></i>
                        </div>
                        <!--js 购物车弹出层 S-->
                        <div class="shopcart-list">
                            <div class="shopcart-box">
                                <ul class="fn-clear">
                                    <li>
                                        <a href="#" class="prod-info">
                                            <img src="images/img/img_1.png" width="45" height="78" alt="#">
                                            <span class="name">花妃城堡干红葡萄酒2009（名庄）</span>
                                            <span class="price"><strong>¥ 480.0</strong> × <em>1</em></span>
                                        </a>
                                        <a href="#" title="删除"><i class="clip">删除</i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="prod-info">
                                            <img src="../images/img/img_1.png" width="60" height="98" alt="#">
                                            <span class="name">花妃城堡干红葡萄酒2009（名庄）</span>
                                            <span class="price"><strong>¥ 480.0</strong> × <em>1</em></span>
                                        </a>
                                        <a href="#" title="删除"><i class="clip">删除</i></a>
                                    </li>
                                </ul>
                                <div class="shopcart-sum">
                                    <a href="#" class="btn-viewcart">查看购物车</a>

                                    <p>共<em>1</em>件商品<br>总计： ¥<strong>480.0</strong></p>
                                </div>
                            </div>
                        </div>
                        <!--js 购物车弹出层 E-->
                    </li>
                    <li>|</li>
                    <li>4008-2508-465</li>
                </ul>
            </Div>
            <div class="ui-nav-login fn-left">
                欢迎您的光临！ <a href="#">登录</a> | <a href="#">注册</a>
            </div>
        </div>
    </div>
    <div class="head-logo">
        <div class="w980">
            <a href="#" class="logo fn-left"></a>

            <div class="search-ico fn-right">
                <a href="#" class="ui-genuine" title="全场正品"></a>
                <a href="#" class="ui-cash" title="货到付款"></a>
                <a href="#" class="ui-unpacking" title="开箱验货"></a>
                <a href="#" class="ui-aftermarket" title="全程售后"></a>
            </div>
        </div>
    </div>
</div>
<!-- head-top E -->
<!-- 出错信息 s -->
<div class="ui-bd w980">
    <div class="error-message">
    <h1>出错信息</h1>
    <p>xxxx出错</p>
    <a href="#" class="ui-shop-checkout but buy-dakelight">跳转</a>
    </div>
</div>
<!-- 出错信息 e -->
<div class="ui-f-bottom m-top10">
    <div class="ui-f-nav">
        <div class="w980">
            <div class="ui-f-logo"><img src="images/f_logo.jpg"/></div>
            <div class="ui-f-menu fn-left">
                <ul>
                    <li>
                        <h3>新手指南</h3>

                        <p><a href="#">成为会员</a></p>

                        <p><a href="#">购物流程</a></p>

                        <p><a href="#">积分制度</a></p>

                        <p><a href="#">查看订单</a></p>

                        <p><a href="#">交易记录</a></p>
                    </li>
                    <li>
                        <h3>支付方式</h3>

                        <p><a href="#">货到付款</a></p>

                        <p><a href="#">在线支付</a></p>

                        <p><a href="#">发票制度</a></p>
                    </li>
                    <li>
                        <h3>合作联盟</h3>

                        <p><a href="#">推广方式</a></p>

                        <p><a href="#">盈利模式</a></p>

                        <p><a href="#">如何结算</a></p>
                    </li>
                    <li>
                        <h3>物流配送</h3>

                        <p><a href="#">500以上免运费</a></p>

                        <p><a href="#">配送范围</a></p>
                    </li>
                    <li>
                        <h3>服务保障</h3>

                        <p><a href="#">100%正品</a></p>

                        <p><a href="#">15天无理由退货</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-links">
        <div class="w980 fn-text-overflow">
            友情链接：<a href="#">网狐科技</a><a href="#">网狐科技</a>
        </div>
    </div>
    <div class="ui-f">
        <div class="w980">
            <div class="ui-f-copyright">
                <p>Copyright 2006-2013 也买酒 yesmywine.com 版权所有 | 沪ICP备09093441号</p>

                <p><img src="images/copyright.jpg"/></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>